html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    border: 1px solid black;
    padding: 0.8rem;
    margin: 20px 0;
}

.content-box {
    border: 1px solid black;
    padding: 0.8rem;
}

/* Header styles */

nav {
    position: relative;
    right: 4%;
}

nav li {
    display: inline;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main heading & Picture styles */
.main-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.main-image img {
    max-height: 200px;
    padding: 10px;
    display: none;
}


/* Main Content & Bio Styles */
.main-content {
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 10px;
}

#bio {
    text-align: justify;
}

#bio h3 {
    text-align: center;
}

/* Footer Styles */
footer h4 {
    display: inline;
    margin: 0 10px;
}